@{
    ViewBag.Title = "Project Overview";
}
<br />
<h3>Project Overview</h3>
<address>
    Online Library Management Project<br />
    <p>It's a simple library management site using mvc Code First Approch</p>
    <p>Which Include the facilities of</p>
    <ul>
        <li>Reading Books Online</li>
        <li>Downloading PDF Books</li>
        <li>Printing Books</li>
        <li>CRUD operation</li>
        <li>Uses of Ajax</li>
        <li>Role Management</li>
        <li>Filtering, Sorting & Paging</li>
        <li>Authentication & Authorization</li>
        <li>Validation</li>
    </ul>
</address>

