@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img height="500" width="1000" src="~/AppFiles/Images/FontPageImage.jpg" />
    <h3 style="font-family:'Bookman Old Style'">Read & Enrich Your Knowledge</h3>
</div>